<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="Utf-8">
    <title>Titel</title>
</head>

<body>
    <h1>jinjia2模板</h1>
    {#下面是一个变量代码快的使用#}
    this is a tempalte<br>
    this is a titile<br>
    {{ url_str }}<br>
    {#列表的使用#}
    {{ my_list }}<br>
    {{ my_list.2 }}<br>
    {{ my_list[3] }}<br>
    {{ my_dict }}<br>
    {{ my_dict.name }}<br>
    {{ my_dict['name'] }}<br>
    {{ my_int }}<br>

    <hr>
    {#控制代码代码块，{%  关键字 %}#}
    {% for num in my_list  %}
            {#数据大于3，才能显示#}
            {% if num > 3 %}
                {{ num }} <br>
            {% endif %}
    {% endfor %}  
    {% for name in my_dict %}
            {{ name }} <br>
    {% endfor %}
</body>

</html>